<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="code.js"></script>
    <link rel="stylesheet" href="code.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Jacquard+12&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap" rel="stylesheet">
    <title>Enter Code and Start</title>
</head>
<body>
    <div class="quiz_logo" >
        <img class="quiz_logoimg" src="asserts/mainlogo.png" style="width: 100%; height: 100%;">
    </div> 
    <!--  <div class="logo">
        <img class="logo_img" src="./asserts/logo.png" style="height: 100%; width: 100%;">
    </div>  -->
    <div class="palate">
        <div class="inner_palate">
            <input type="text" placeholder="Enter the Code" id="code" class="inp"/>
            <div class="get_submit_option">
                <button class="start" id="start">
                    Start
                </button>
            </div>
        </div>
    </div>
</body>
</html>