body{
    margin: 0%;
    padding: 0%;
   background-color:  #DEDEDE;
}
.quiz_logo{
    width:100%;
    display: flex;
    flex-direction:row;
    margin-top: 0%;
}
.quiz_logo1{
    display: none;
}
.controls {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 30vh;          
}

.op {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #FCDF00;
    color: black;
    width: 250px;             
    min-height: 50px;        
    border: 1px solid black;
    outline: none;    
       
}
#code{
    color: black;
    caret-color: black; 
}



.control{
    
    height: 8vh;
    text-align: center;
    border-radius: 10px;
    color: #BEEEF6;
    border:white solid 1px;
}


.logoimg{
    height:40vh;
    position:absolute;
    top:43%;
    left:20%;
    border-radius: 25px;
    border: white solid 3px;
}

.score_det{

    width: 60%;
    position: absolute;
    top: 50%;
    left:20% ;
    border: #4B95DF solid 2px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 10%;
  }
.scr_tit{
    background-color: #FCDF00;
    height: 60px;
    width: 100%;
    border-radius: 18px 18px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
  }
  .table
  {
    background-color:#DEDEDE;
    width: 80%;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    gap: 0px;
  }
  .table>div{
    text-align: center;
    border: black solid 1px;
     display: flex;
    align-items: center;
    justify-content: center;
  
  }
.table p{
    margin: 0%;
    font-size:1.5rem;
    color:black;
   
    text-align: center;
   
}
.li{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
}

@media(max-width:870px)
{
    .stu_list{
        position:absolute;
        top:10%;
    }
    
    .li>p,.Headcount{
        font-size: 1.8rem;
    }
    .logoimg{
        height: 35vh;
        top:30%;
        left:15%;
    }
    .score_det
    {
        width: 80%;
        left: 10%;
    }
    #code{
        font-size: 1.5rem;
    }
   
}
@media(max-width:640px)
{
    
        .op{
            font-size: 0.8rem;
        }
        .control{
            height: 4vh;
            border-radius: 4px;
        }
        .score_det{
            top:30%;
            width:80%;
            left: 10%;
        }
        
         .scr_tit
         {
            font-size:1.2rem ;
            top:2%;
            left:40%;
            border-radius: 20px 20px 0px 0px;
         }
         
         .table p{
            font-size: 0.8rem;
            }
            #code{
                font-size: 1.2rem;
            }
}
@media (max-width: 440px) {
    .quiz_logo1 {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 0%;
    }

    .op {
        margin-top: 0%;
    }

    .controls {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 50%;
        align-items: center;
    }

    .control {
        height: auto;
        min-height: 5vh;
        border-radius: 6px;
        font-size: 1rem;
        width: 90%;
        margin: 0 auto;
        margin-left: 50%; 
    }

    .logoimg {
        height: 17vh;
        border-radius: 10px;
        position: absolute;
        left: 10%;
        top: 17%;
        border: white solid 1.5px;
    }

    .score_det {
        width: 70%;
        left: 15%;
        top: 25%;
        border-radius: 15px;
    }

    .Headcount {
        font-size: 1rem;
        border-radius: 15px 15px 0px 0px;
    }

    .stu_list {
        top: 10%;
    }
    #code{
        font-size: 1.1rem;
    }

   
}


@media(max-width:330px)
{
    .score_det{
        width:80%;
        left:10%;
        top: 25%;
    }
   
    .Headcount{
        left: 32%;
    }
    .logoimg{
        left:7%;
    }
    .Headcount{
        top:4%;
    }
    .stu_list{
        top:10%;
    }
    .li>p{
        font-size: 0.6rem;
    }
    #code{
        font-size: 0.5rem;
    }
    
}

